.idea/
bin/bin.iml
dataclean/
dlxs/
epubcheck/.idea/
epubcheck/target/
epubcheck/epubcheck.iml
hebepub/fixepub/
hebepub/flowepub/
hebepub/resources/
hebepub/resources
hebepub/target/.idea/
hebepub/target/hebepub.iml
hebepub/target/lib/jars/
hebepub/target/lib/rake/vendor/
hebepub/target/layouts/flowepub/fonts/
hebimg/.idea/
hebimg/target/
hebimg/hebimg.iml
hebxslt/.idea/
hebxslt/target/
hebxslt/hebxslt.iml
lib/lib.iml
resources/
meta_validation/
alttext2csv/
*.iml
